{% extends 'base.html' %}
{% block title %}Product View{% endblock %}

{% block nav %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'webapp:product_create' %}">Create Product ( + )</a>
    </li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="card mt-3">
            <div class="card-header">
            <h1 class="text-center">{{ product.name }}</h1>
            <div class="rating">
{#              {% for i in range(5) %}#}
{#                <span class="fa fa-star  {% if i < product.get_rating %}checked{% endif %}"></span>#}
{#              {% endfor %}#}
            </div>

            <p>Product rating: {% for i in get %}<i class="fas fa-star"></i>{% endfor %}</p>
            </div>
            <div class="card-body">
                <p class="card-text">Category: {{ product.category }}</p>
                <p class="card-text">{{ product.description|default:'No description provided.' }}</p>
                {% if product.image %}
                    <img class="img-thumbnail" src="{{ product.image.url }}" alt="{{ product.name }}">
                {% else %}
                    <img class="img-thumbnail" src="{{ product_image.url }}" alt="Placeholder image">
                {% endif %}
                <div class="text-right mt-3">
                    {%  if request.user.is_authenticated %}
                            {% if perms.webapp.change_product %}
                                <a class="btn btn-primary" href="{% url 'webapp:product_update' product.pk %}">Edit</a>
                            {% endif %}
                            {% if perms.webapp.delete_product %}
                                <a class="btn btn-danger" href="{% url 'webapp:product_delete' product.pk %}">Delete</a>
                            {% endif %}
                    {% endif %}
                    <a class="btn btn-secondary" href="{% url 'webapp:index' %}">Back to product list</a>
                </div>
            </div>
        </div>

        <h3 class="mt-5">Reviews: </h3>
        {% if is_paginated %}
            {% include 'webapp:partial/pagination.html' %}
        {% endif %}
        <div class="row">
            <ul class="list-group">
                {% for review in reviews %}
                    <li class="list-group-item">

                        <p><strong>Author:</strong> <a href="{% url 'accounts:detail' review.author.pk %}">{{ review.author }}</a>
                        <p><strong>Product:</strong> {{ review.product }}</p>
                        <p><strong>Review text:</strong> {{ review.review_text }}</p>
                        <p><strong>Rating:</strong> {{ review.rating }}</p>
                      </li>
                    {% endfor %}
                </ul>
                <a href="{% url 'webapp:review_create' product.pk %}">Add a review</a>
{% endblock %}