{% extends 'base.html' %}

{% block content %}
    <h1>Review #{{ review.pk }}</h1>
    <p><strong>Author:</strong> {{ review.author }}</p>
    <p><strong>Product:</strong> {{ review.product }}</p>
    <p><strong>Review text:</strong> {{ review.review_text }}</p>
    <p><strong>Rating:</strong> {{ review.rating }}</p>
    <div>
    <p>Review rating: {% for i in review.rating %}<i class="fas fa-star"></i>{% endfor %}</p>
    </div>
    <p><a href="{% url 'webapp:review_index' %}">Back to reviews list</a></p>
{% endblock %}